numpy>=1.24.1,<2
pandas>=2.0,<3.0
pydantic>2,<=2.13.2
scipy>=1.10.0,<1.17

huey==3.0.0
limits==5.8.0
networkx==3.6.1
redis==7.4.0
scikit_learn==1.7.2
sse-starlette==3.3.4
streamlit==1.56.0
uvicorn==0.44.0

beautifulsoup4>=4.14.3
fastapi>=0.136.0
maturin>=1.13.0
slowapi>=0.1.9
plotly>=6.7.0
pytest>=9.0.0
pytest-cov>=7.0.0
requests>=2.33.1
tqdm>=4.67.3